*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#conteiner{
  width: 100vw;
  height: 100vh;
}

#conteiner > main{
  margin: 0 auto;
  width: 30vw;
  height: 100vh;
  border: 1px solid black;
  padding: 5px;
}

#conteiner main .section-main{
  width: 100%;
  height: calc(100% / 3 - 3.3333px);
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  position: relative;
}

.section-main:first-child, .section-main:nth-child(2){
  margin-bottom: 5px;
}

.section-main:first-child{
  background-image: url("../img/bankok.jpg");
}

.section-main:nth-child(2){
  background-image: url("../img/londra.jpg");
}

.section-main:last-child{
  background-image: url("../img/roma.jpg");
}

.trasparent{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0,0,0,0.6);
}

.trasparent > h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.section-main:hover .trasparent{
  background-color: rgba(0,0,0,0);
}

.section-main:hover .trasparent h1{
  display: none;
}

.section-main:hover{
    box-shadow: 2px 4px #423189;
}
